{% load static %}


<footer class="border-top text-muted bg-light">
    <div class="container">
        <div class="row py-3">
            <div class="col-12 col-md-4 text-center">
                &copy; 2021 - Encurtador de Link
            </div>

            <div class="col-12 col-md-4 text-center">
                <a href="https://github.com/CesarAugusto88/desafio_tecnico#readme" class="text-decoration-none text-dark">
                    <span class="align-middle p-1">Todos os Créditos no Readme do projeto</span>
                </a>
            </div>

            <div class="col-12 col-md-4 text-center">
                <span class="align-middle p-1">Por Cesar Augusto</span> <br>
                <span class="align-middle p-1">Feito com Django</span>
            </div>
        </div>
    </div>
</footer>


<script src="{% static 'assets/bootstrap/js/jquery-3.2.1.slim.min.js'%}"></script>
<script src="{% static 'assets/bootstrap/js/popper.min.js'%}"></script>
<script src="{% static 'assets/bootstrap/js/bootstrap.min.js'%}"></script>
<script defer src="{% static 'assets/font-awesome/js/all.js'%}"></script>
<script src="{% static 'assets/custom/js/scripts.js'%}"></script>