{% extends 'base.html' %}

{% block titulo %}Homologação | {% endblock %}

{% block conteudo %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'dev:usuario' %}">Encurtador de Link</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="{% url 'homologacao:homologacao' %}">Homologação</a>
          <a class="nav-link" href="{% url 'producao:producao' %}">Produção</a>
        </div>
      </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            {% if request.user.is_authenticated %}
            <h3>Olá, {{request.user}}</h3>
            {% endif %}
            <div class="card">
                <div class="card-header">
                    Categoria
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <a href="#">Todas</a>
                    </li>
                    
                    <li class="list-group-item">
                        <a href="#">
                            Item
                        </a>
                    </li>


                    <a href="#" class="btn btn-dark btn-block btn-sm m-1">Add</a>
                    <a href="#" class="btn btn-dark btn-block btn-sm m-1">Logout</a>
                </ul>
            </div>

        </div>
        <div class="col-md-9">

        </div>
    </div>
</div>

<div class="row mt-3">
    <div class="col">
        {% include 'parciais/_pagination.html' %}
    </div>
</div>

{% endblock %}